* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

html, body {
overflow-x: hidden;
}

body {
  height: 100vh;
  background-color: rgb(8, 8, 8);
}

.container-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  min-height: 100%;
  padding-top: 100px;
}

.slider-loop {
  width: 100%;
  overflow: hidden;
  order: 1;
}


.slider-loop__track {
  display: flex;
}



.slider-loop__item {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 33%;
  padding: 20px;
  cursor: grab;
}


@media(max-width:768px) {

  .slider-loop__item {
    flex-basis: 100%;
  }
}

.slider-loop__item:active {
  cursor: grabbing;
}

.container-btn {
  order: 2;
  display: flex;
  gap: 60px;
  margin-left: auto;
  margin-right: auto;
}


.container-btn::before {
  position: fixed;
  content: '';
  top: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/stars.png');
  background-position: center;
  opacity: 0;
  transition: opacity 1s;
  animation: move  2s infinite;
  animation-play-state: paused;

}

#prev-slide,
#next-slide {
  width: min(200px, 30vw);
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(93%) sepia(1%) saturate(4807%) hue-rotate(190deg) brightness(100%) contrast(109%);
}


#prev-slide:active,
#next-slide:active {
  transform: scale(0.98);
}

@media(hover:hover) {

  #prev-slide,
  #next-slide {
    transition: filter 0.3s;
  }
}


#prev-slide:hover,
#next-slide:hover {
  filter: brightness(0) saturate(100%) invert(58%) sepia(24%) saturate(1010%) hue-rotate(290deg) brightness(90%) contrast(86%);
}



.container-btn:hover::before {
  opacity: 1;
  animation-play-state: running;
}


@keyframes move {
  0% {
    transform: scale(0.2);

  }
  50% {
    transform: scale(2);
    filter: blur(2px);


  }

  100% {
    transform:scale(12);
    opacity: 0;
  
  }
  }
